<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="ToolsCodeTemplate.cs" Inherits="ToolsCodeTemplate" %>
<%@ Property Name="Table" Type="SchemaExplorer.TableSchema" Category="DB" %>
<%@ Property Name="NameSpace" Type="System.String" Default="MyWeb.Model" Category="String" %>
<script runat="template">
    public override string GetFileName()
    {
    	return Table.Name + "Table.cs";
    }
</script>
using System;
using Utils;

namespace <%=NameSpace %>
{
    <%PrintHeader("模板生成属性，对应"+Table.Name+"表字段。"); %>
    
    /// <summary>
    /// 表名:<%=Table.Name %>
    /// 描述:<%=Table.Description %>
    /// 主键和自增:<%if(!Table.HasPrimaryKey) {%>无主键<%} %> <%if(!HasIdentity(Table)) {%>无自增字段<%} %>
    /// </summary>
    public partial class <%=Table.Name %>Table : EntityBase
    {
        <%foreach(var column in Table.Columns) {%>
        /// <summary>
        /// 字段描述:<%=column.Description %>
        /// 数据类型:<%=GetSqlDbType(column) %>
        /// 数据长度:<%=column.Size %>
        /// 允许空值:<%=column.AllowDBNull %>
        /// </summary>
        <%if(column.IsPrimaryKeyMember) {%>
        <%} %>
        public <%=GetCsharpType(column) %> <%=column.Name %> { get; set; }
        
        <%}%>        
    }
}